* {
    font-family: "Pontana Sans", sans-serif;
} 

.text-light-gray {
	color: #BCBBBB;
}

.text-dark-gray {
	color: #808176;		
}

.font-weight-light {
	font-weight: 100;
}

.font-weight-bold {
	font-weight: bold;
}

.font-size-small{
	font-size: small;
}

div h3 {
	color: #808176;	
}

.p-one {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.mainfeature {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	margin-left:auto;
	margin-right:auto;
}